.hot-deals {
  padding: 0rem 7rem;
  margin-bottom: 15rem;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    .header-left {
      padding: 1rem;
      h1 {
        padding: 1rem;
      }
    }
    .header-right {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem;
      .arrow-btn {
        padding: 1rem;
        font-size: 4rem;
        cursor: pointer;
        border: none !important;
        background-color: white;

        #back {
        }
        #front {
        }
      }
    }
  }
  .main-container {
    .main {
      padding-left: 0.7rem;
      overflow-x: scroll;
      scroll-behavior: smooth;
      display: flex;
      gap: 8rem;
      flex-direction: row;
    }
    .main::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
